.card {
    background: #2c2c2c; /* Темный фон карточки */
    border-radius: 10px; /* Скругленные углы */
    text-align: center; /* Выравнивание текста */
    color: white; /* Белый текст */
    transition: transform 0.3s ease; /* Анимация при наведении */
    text-decoration: none;
}

.card:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Более глубокая тень */
}

.poster {
    max-width: 100%;
    width: 200px; /* Ширина постера */
    border-radius: 8px; /* Скругление постера */
    overflow: hidden; /* Чтобы содержимое не выходило за границы */
    margin-bottom: 10px; /* Отступ от заголовка */
    text-decoration: none;
}

.title {
    font-size: 15px; /* Размер шрифта */
    margin: 8px 0; /* Отступы сверху и снизу */
    font-weight: bold; /* Жирный шрифт */
    max-width: 200px;
}

.rating {
    font-weight: bold;
    color: #f39c12; /* Оранжевый для рейтинга */
}
.box{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;

}

.box_left{
    width: 17vw;
    height: 50vh;
    margin-top: 5vh;
}
.box_right{
    width: 30vw;
    height: 50vh;
    margin-top: 5vh;

}
.soloPoster{
    width: 15vw;
    border-radius: 15px;
}
.p1 {
    background-color: rgba(0, 0, 0, 0.5); /* Чёрный фон с 50% прозрачности */
    padding: 10px; /* Добавьте отступы, если нужно */
    border-radius: 5px; /* Сделать углы закруглёнными (по желанию) */
    color: white;
}
.trailer{

}
.actors {
    margin-top: 40px;
}

.actors h2 {
    font-size: 24px;
    color: #ffcc00;
    text-align: center;
}

.actorsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.actorCard {
    width: 120px;
    text-align: center;
}

.actorPhoto {
    width: 100%;
    border-radius: 5px;
}

.actorPlaceholder {
    width: 100%;
    height: 180px;
    background-color: #555;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
}
.boxInBox{
    display: flex;
    justify-content: center;
    align-items: center;

}
.boxInBoxBot{
    margin-top: 5vh;
}
.nameActor{
    background-color: rgba(0, 0, 0, 0.5); /* Чёрный фон с 50% прозрачности */
    padding: 10px; /* Добавьте отступы, если нужно */
    border-radius: 5px; /* Сделать углы закруглёнными (по желанию) */
    color: white;
}
.character{
    background-color: rgba(0, 0, 0, 0.5); /* Чёрный фон с 50% прозрачности */
    padding: 10px; /* Добавьте отступы, если нужно */
    border-radius: 5px; /* Сделать углы закруглёнными (по желанию) */
    color: white;
}
