.container {
    padding: 20px;
    text-align: center;

}

.moviesGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: black;
}

.movieCard {
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.moviePoster {
    max-width: 100%;
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
    text-decoration: none;
}
.movieCard:hover {
    transform: scale(1.05);
}
.name{
    font-size: 15px;
    margin: 8px 0;
    font-weight: bold;
    max-width: 200px;
}